<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>My Duels</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon_io//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon_io//favicon-16x16.png">
    <link rel="manifest" href="images/favicon/favicon_io//site.webmanifest">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=PT+Sans+Caption&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/550ddecd5b.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- H E A D E R -->
    <section class="colored-section" id="title">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Duel Links Replays</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#videos">Previews</a></li>
            <li class="nav-item"><a class="nav-link" href="#decks">Decks</a></li>
            <li class="nav-item"><a class="nav-link" href="#downloads">Downloads</a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="header-container">
            <h1 class="big-heading homepage-title"><span class="yu-gi-oh">YU-GI-OH</span> DUEL LINKS<br>DUEL REPLAYS</h1>
            <a href="https://apps.apple.com/app/id1068378177" class="btn btn-dark btn-lg download-btn" target="_blank" role="button"><i class="fab fa-apple"></i> Download</a>
            <a href="https://play.google.com/store/apps/details?id=jp.konami.duellinks" class="btn btn-light btn-lg download-btn" target="_blank" role="button"><i class="fab fa-google-play"></i> Download</a>
          </div>
        </div>
      </div>
    </section>

    <!-- D E S C R I P T I O N -->
    <section class="white-section text-center" id="description">
      <div class="container-fluid">
        <div class="row">
          <div class="description-div col-lg-4">
            <i class="icon fas fa-play-circle fa-4x"></i>
            <h3 class="description-header">Favorite Replays</h3>
            <p class="description-p">My favorite duel links replays I've saved.</p>
          </div>
          <div class="description-div col-lg-4">
            <i class="icon fas fa-crown fa-4x"></i>
            <h3 class="description-header">King of Games</h3>
            <p class="description-p">King of Games Duelist. Player Name: Jr.</p>
          </div>
          <div class="description-div col-lg-4">
            <i class="icon fas fa-thumbs-up fa-4x"></i>
            <h3 class="description-header">Favorite Decks</h3>
            <p class="description-p">View some of my favorite cards and decks.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- R E P L A Y   V I D E O S -->
    <section class="colored-section text-center" id="videos">
      <div class="carousel slide" data-ride="false" data-interval="false" id="video-carousel">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <video class="carousel-video" controls>
              <source src="videos/Duel-Links/sacred-soldier/2019-09-02 sacredSoldier-lavaGolem-finish.mp4" type="video/mp4">
              Your browser could not play this mp4 video. Try another browser!
            </video>
            <h3 class="carousel-video-title">Lava Golem Finish</h3>
          </div>
          <div class="carousel-item container-fluid">
            <video class="carousel-video" controls>
              <source src="videos/Duel-Links/archfiends/2020-03-28 archfiends-v-dragons.mp4" type="video/mp4">
              Your browser could not play this mp4 video. Try another browser!
            </video>
            <h3 class="carousel-video-title">Archfiends vs Dragons</h3>
          </div>
          <div class="carousel-item container-fluid">
            <video class="carousel-video" controls>
              <source src="videos/Duel-Links/other-duels/5_10_2018 bakura-otk.mp4" type="video/mp4">
              Your browser could not play this mp4 video. Try another browser!
            </video>
            <h3 class="carousel-video-title">Bakura OTK</h3>
          </div>
        </div>
        <!--  carousel controls -->
        <a class="carousel-control-prev" href="#video-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#video-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>

    <!-- D E C K S -->
    <section class="white-section" id="decks">
      <div class="container-fluid">
        <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist" aria-multiselectable="true">
          <!-- VENDREADS -->
          <div class="card-wrapper first-card">
            <div class="card">
              <div class="card-header" role="tab" id="headingVendreads">
                <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseVendreads" aria-expanded="false" aria-controls="collapseVendreads">
                  <h5 class="deck-header m-0">
                    <div class="cover-container">
                      <picture>
                        <img class="full-wh" src="images/vendread-cover.jpg" alt="Vendreads">
                      </picture>
                    </div>
                    <span>Vendreads</span>
                  </h5>
                  <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                </a>
              </div>
              <div id="collapseVendreads" class="collapse" role="tabpanel" aria-labelledby="headingVendreads" data-parent="#accordionEx78">
                <div class="card-body">    <!--card body containing links to video replays -->
                  <div class="row">
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/vendreads-v-shiranui">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">VS</p>
                              <p class="opp-deck-type">Shiranui</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/vs-shiranui.jpg" alt="Vendreads vs Shiranui">
                            </picture>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/vendreads-v-eHeroes">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">VS</p>
                              <p class="opp-deck-type">Elemental Heroes</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/vs-e-heroes.jpg" alt="Vendreads vs Elemental Heroes">
                            </picture>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/vendreads-v-blackwings">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">VS</p>
                              <p class="opp-deck-type">Blackwings</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/vs-blackwings.jpg" alt="Vendreads vs Blackwings">
                            </picture>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/vendreads-v-cyberEndDragon">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">VS</p>
                              <p class="opp-deck-type">Cyber End Dragon</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/vs-cyber-end-dragon.jpg" alt="Vendreads vs Cyber End Dragon">
                            </picture>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/vendreads-v-triple-desperado">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">VS</p>
                              <p class="opp-deck-type">Desperado Barrel Dragon</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/vs-desperado-barrel-dragon.jpg" alt="Vendreads vs Desperado Barrel Dragon">
                            </picture>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/vendreads-v-magnets">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">VS</p>
                              <p class="opp-deck-type">Magnets</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/vs-magnets.jpg" alt="Vendreads vs Magnets">
                            </picture>
                          </a>
                        </div>
                      </div>
                  </div> <!-- end row -->
                </div> <!-- end card-body-->
              </div> <!-- end collapse -->
            </div> <!-- end card -->
          </div>
          <!-- VAMPIRES -->
          <div class="card-wrapper">
            <div class="card">
              <div class="card-header" role="tab" id="headingVampires">
                <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseVampires" aria-expanded="false" aria-controls="collapseVampires">
                  <h5 class="deck-header m-0">
                    <div class="cover-container">
                      <picture>
                        <img class="full-wh" src="images/vampires-cover.jpg" alt="Vampires">
                      </picture>
                    </div>
                    <span>Vampires</span>
                  </h5>
                  <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                </a>
              </div>
              <div id="collapseVampires" class="collapse" role="tabpanel" aria-labelledby="headingVampires" data-parent="#accordionEx78">
                <div class="card-body">    <!--card body containing links to video replays -->
                  <div class="row">
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/vampires-v-ancientGear">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Ancient Gears</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-ancient-gear.jpg" alt="Vampires vs Ancient Gear Reactor Dragon">
                          </picture>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/vampires-v-fortuneLadies">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Fortune Ladies</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-fortune-ladies.jpg" alt="Vampires vs Fortune Ladies">
                          </picture>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/vampires-v-nephthys">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Sacred Phoenix</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-cerulean-sacred-phoenix.jpg" alt="Vampires vs Cerulean Sacred Phoenix of Nephthys">
                          </picture>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/vampires-v-burn">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Burn</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-burn.jpg" alt="Vampires vs Burn">
                          </picture>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- SACRED SOLDIER -->
          <div class="card-wrapper">
            <div class="card">
              <div class="card-header" id="headingSacredSoldier" role="tab">
                <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseSacredSoldier" aria-expanded="false" aria-controls="collapseSacredSoldier">
                  <h5 class="deck-header m-0">
                    <div class="cover-container">
                      <picture>
                        <img class="full-wh" src="images/sacred-soldier-cover-edit_513x180.jpg" alt="Sacred Soldier">
                      </picture>
                    </div>
                    <span>Sacred Soldier</span>
                  </h5>
                  <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                </a>
              </div>
              <div id="collapseSacredSoldier" class="collapse" role="tabpanel" aria-labelledby="headingSacredSoldier" data-parent="#accordionEx78">
                <div class="card-body">    <!--card body containing links to video replays -->
                  <div class="row">
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/sacredSoldier-v-silentMagician">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Silent Magician</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-silent-magician.jpg" alt="Sacred Soldier vs Silent Magician">
                          </picture>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/sacredSoldier-v-BEWD">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Blue-Eyes</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-bewd.jpg" alt="Sacred Soldier vs Blue-Eyes White Dragon">
                          </picture>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/sacredSoldier-ftk">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">FTK</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/bls-ss-ftk.jpg" alt="Sacred Soldier FTK">
                          </picture>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/lavaGolemFinish">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">Lava Golem Finish</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-burn.jpg" alt="Lava Golem Finish">
                          </picture>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- DINOS -->
          <div class="card-wrapper">
            <div class="card">
              <div class="card-header" id="headingAromage" role="tab">
                <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseDinos" aria-expanded="false" aria-controls="collapseDinos">
                  <h5 class="deck-header m-0">
                    <div class="cover-container">
                      <picture>
                        <img class="full-wh" src="images/destroyersaurus-edit_513x180.jpg" alt="Dinos">
                      </picture>
                    </div>
                    <span>Dinos</span>
                  </h5>
                  <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                </a>
              </div>
              <div id="collapseDinos" class="collapse" role="tabpanel" aria-labelledby="headingDinos" data-parent="#accordionEx78">
                <div class="card-body">    <!--card body containing links to video replays -->
                  <div class="row">
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/dinos-v-subterrors">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Subterrors</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-subterrors.jpg" alt="Dinos vs Subterrors">
                          </picture>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/dinos-v-gravekeepers">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Gravekeeper's</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-gk.jpg" alt="Dinos vs Gravekeepers">
                          </picture>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/dinos-v-coin-flip">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Coin-Flip</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-sartorius-desperado.jpg" alt="Dinos vs Coin-Flip">
                          </picture>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ARCHFIEND -->
          <div class="card-wrapper">
            <div class="card">
              <div class="card-header" id="headingArchfiend" role="tab">
                <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseArchfiend" aria-expanded="false" aria-controls="collapseArchfiend">
                  <h5 class="deck-header m-0">
                    <div class="cover-container">
                      <picture>
                        <img class="full-wh" src="images/archfiend-cover-edit_513x180.jpg" alt="Archfiends">
                      </picture>
                    </div>
                    <span>Archfiends</span>
                  </h5>
                  <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                </a>
              </div>
              <div id="collapseArchfiend" class="collapse" role="tabpanel" aria-labelledby="headingArchfiend" data-parent="#accordionEx78">
                <div class="card-body">    <!--card body containing links to video replays -->
                  <div class="row">
                    <div class="col-md-6 replay-img-link-container">
                      <div class="full-wh poster-img-container">
                        <a class="replay-link" href="/archfiends-v-dragons">
                          <div class="blue-cover full-wh">
                          </div>
                          <div class="vs-text-wrap">
                            <p class="vs">VS</p>
                            <p class="opp-deck-type">Dragons</p>
                          </div>
                          <picture>
                            <img class="full-wh" src="images/video-poster/vs-slash-dragon.jpg" alt="Archfiends vs Dragons">
                          </picture>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- View All Decks button -->
          <div class="collapse" id="collapseAdditionalDecks">
            <!-- AMAZONS -->
            <div class="card-wrapper">
              <div class="card">
                <div class="card-header" id="headingAmazon" role="tab">
                  <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseAmazon" aria-expanded="false" aria-controls="collapseAmazon">
                    <h5 class="deck-header m-0">
                      <div class="cover-container">
                        <picture>
                          <img class="full-wh" src="images/amazon-cover-edit_513x180.jpg" alt="Amazons">
                        </picture>
                      </div>
                      <span>Amazons</span>
                    </h5>
                    <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                  </a>
                </div>
                <div id="collapseAmazon" class="collapse" role="tabpanel" aria-labelledby="headingAmazon" data-parent="#accordionEx78">
                  <div class="card-body">    <!--card body containing links to video replays -->
                    <div class="row">
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/amazon-meta">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">Amazoness Meta</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/amazon-meta.jpg" alt="Amazoness Meta">
                            </picture>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- RED-EYES ZOMBIE -->
            <div class="card-wrapper">
              <div class="card">
                <div class="card-header" id="headingREZD" role="tab">
                  <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseREZD" aria-expanded="false" aria-controls="collapseREZD">
                    <h5 class="deck-header m-0">
                      <div class="cover-container">
                        <picture>
                          <img class="full-wh" src="images/rezd-cover-crop_513x180.jpg" alt="Red-Eyes Zombie Dragon">
                        </picture>
                      </div>
                      <span class="rezd-span">Red-Eyes Zombie</span>
                      <span class="rezd-span-xs-screen">REZD</span>
                    </h5>
                    <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                  </a>
                </div>
                <div id="collapseREZD" class="collapse" role="tabpanel" aria-labelledby="headingREZD" data-parent="#accordionEx78">
                  <div class="card-body">    <!--card body containing links to video replays -->
                    <div class="row">
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/rezd-v-armedDragon">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">VS</p>
                              <p class="opp-deck-type">Armed Dragon</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/vs-armed-dragon.jpg" alt="Red-Eyes Zombie Dragon vs Armed Dragon">
                            </picture>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- SPECIAL DUELS -->
            <div class="card-wrapper">
              <div class="card">
                <div class="card-header" id="headinSpecialDuel" role="tab">
                  <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseSpecialDuel" aria-expanded="false" aria-controls="collapseSpecialDuel">
                    <h5 class="deck-header m-0">
                      <div class="cover-container">
                        <picture>
                          <img class="full-wh" src="images/special-duel-logo_513x180.jpg" alt="Special Duels">
                        </picture>
                      </div>
                      <span>Special Duels</span>
                    </h5>
                    <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                  </a>
                </div>
                <div id="collapseSpecialDuel" class="collapse" role="tabpanel" aria-labelledby="headingSpecialDuel" data-parent="#accordionEx78">
                  <div class="card-body">    <!--card body containing links to video replays -->
                    <div class="row">
                      <div class="col-12 duel-type-desc">
                        <p>
                          Special Duels are duels with special rules. The rule for these special duels is each character's deck must contain certain monster types and the character's ace cards.
                        </p>
                      </div>
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/necrofear-v-nobleKnights">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">Dark Necrofear</p>
                              <p class="opp-deck-type">Special Duel</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/necrofear-v-noble-knights.jpg" alt="Special Duel: Dark Necrofear vs Noble Knights">
                            </picture>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- OTHER DUELS -->
            <div class="card-wrapper last-card">
              <div class="card">
                <div class="card-header" id="headingOthers" role="tab">
                  <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers">
                    <h5 class="deck-header m-0">
                      <div class="cover-container">
                        <picture>
                          <img class="full-wh" src="images/yugioh-logo.jpg" alt="Other Duels">
                        </picture>
                      </div>
                      <span>Other Duels</span>
                    </h5>
                    <i class="fas fa-chevron-down fa-2x js-rotate-if-collapsed"></i>
                  </a>
                </div>
                <div id="collapseOthers" class="collapse" role="tabpanel" aria-labelledby="headingOthers" data-parent="#accordionEx78">
                  <div class="card-body">    <!--card body containing links to video replays -->
                    <div class="row">
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/bakura-otk">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">Bakura</p>
                              <p class="opp-deck-type">OTK</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/bakura-otk.jpg" alt="Bakura OTK">
                            </picture>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 replay-img-link-container">
                        <div class="full-wh poster-img-container">
                          <a class="replay-link" href="/constellar-v-bewd">
                            <div class="blue-cover full-wh">
                            </div>
                            <div class="vs-text-wrap">
                              <p class="vs">Constellar VS</p>
                              <p class="opp-deck-type">Blue-Eyes</p>
                            </div>
                            <picture>
                              <img class="full-wh" src="images/video-poster/constellar-v-bewd.jpg" alt="Constellar vs BLue-Eyes">
                            </picture>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  <!-- end 'other duels' card-wrapper -->
          </div> <!-- end collapseAdditionalDecks -->
          <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseAdditionalDecks" role="button" aria-expanded="false" aria-controls="collapseAdditionalDecks">
            View all decks
          </a>
        </div>  <!-- end accordian of decks -->
      </div>  <!-- end container-fluid -->
    </section>

    <!-- D O W N L O A D S -->
    <section class="colored-section text-center" id="downloads">
      <div class="container-fluid">
        <h3 class="footer-heading">Download Yu-Gi-Oh! Duel Links!</h3>
        <a href="https://apps.apple.com/app/id1068378177" class="btn btn-dark btn-lg download-btn" target="_blank" role="button"><i class="fab fa-apple"></i> Download</a>
        <a href="https://play.google.com/store/apps/details?id=jp.konami.duellinks" class="btn btn-light btn-lg download-btn" target="_blank" role="button"><i class="fab fa-google-play"></i> Download</a>
      </div>
    </section>

    <!-- F O O T E R -->
    <footer class="white-Section text-center" id="footer">
      <div class="container-fluid">
        <a class="footer-links" href="https://www.linkedin.com/" target="_blank"><i class="footer-icon fab fa-linkedin" title="LinkedIn"></i></a>
        <a class="footer-links" href="https://github.com/Jrz5220" target="_blank"><i class="footer-icon fab fa-github" title="Github"></i></a>
        <a class="footer-links" href="/email"><i class="footer-icon fas fa-envelope" title="email"></i></a>
      </div>
    </footer>
  </body>
</html>
